---
import Date from './Date.astro';

const { blog } = Astro.props;
const { title, description, category, date, slug } = blog;
---

<a class="bg-secondary-black p-10 mb-2 tile cursor-pointer block" href={slug}>

  <div class="text-xs mb-3 flex justify-between">
    <span class="text-white uppercase tracking-widest">
      {category}
    </span>
    <span class="text-gray-400 uppercase">
      <Date date={date} />
    </span>
  </div>

  <h3 class="font-semibold text-white text-2xl">
    {title}
  </h3>
  <div class="text-gray-400 text-sm mt-3">
    {description}
  </div>

</a>