---
// import Author from './Author.astro';
import Date from './Date.astro';
// import Comments from './Comments.jsx';
import Comments from './Comments.astro';

export interface Props {
	title: string;
	author: string;
	publishDate: string;
	heroImage: string;
	alt: string;
}

const { title, date, heroImage, alt, slug } = Astro.props;
---

<div class="layout">
	<article class="content leading-7">
		<div>
			<header>
				<p class="publish-date">
					<Date date={date} includeDate />
				</p>
				<h1 class="title">{title}</h1>
				<!-- <Author name="@_gokatz" href="https://twitter.com/_gokatz" /> -->
				{heroImage && <img class="hero-image" loading="lazy" src={heroImage} alt={alt} />}
			</header>
			<main>
				<slot />
			</main>
		</div>
	</article>

	<Comments slug={slug} title={title} />
</div>

<style>
	.hero-image {
		width: 1000px;
		object-fit: cover;
		object-position: center;
		margin-top: 2rem;
		max-width: 100%;
	}

	@media (min-width: 1060px) {
		.hero-image {
			max-width: 1280px;
		}
	}

	@media (max-width: 50em) {
		.hero-image {
			height: 260px;
			margin-top: 0;
		}
	}

	.content {
		margin-bottom: 6rem;
		font-family: 'Inter', sans-serif;
		/* font-family: 'IBM Plex Sans'; */
		font-weight: 300;
	}

	.content a {
		color: #676cdb;
		text-decoration: underline;
	}

	.content strong, .content b {
		color: #676cdb;
	}

	.content :global(main > * + *) {
		margin-top: 1rem;
	}

	.content :global(h2) {
		margin-top: 4rem;
	}

	header {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		justify-content: center;

		/* padding-bottom: 2rem; */
		margin-bottom: 0rem; 
		border-bottom: 4px solid var(--theme-divider);
	}

	.title,
	.author,
	.publish-date {
		margin: 0;
		margin-bottom: 2rem;
	}

	.publish-date,
	.author {
		color: var(--theme-text-lighter);
	}

	.title {
		font-size: 2.25rem;
		font-weight: 700;
	}
</style>
