---
import Shell from './Shell.astro';
import BaseHead from '../components/BaseHead.astro';
import BlogPost from '../components/BlogPost.astro';
import BackToList from '../components/BackToList.astro';
import siteData from '../data';
import '../styles/blog.css';


const { content } = Astro.props;
const { 
	title, description, date, author, heroImage, 
	permalink, alt, template, canonical, slug 
} = content;
const blogWindowTitle = `${title} - ${siteData.siteName}`;

---
<Shell title={blogWindowTitle} {description} {permalink} {canonical}>
	<BackToList template={template} />
	<div class="wrapper bg-white text-black mx-auto p-6 md:p-10 m-10 prose prose-a:text-primary-blue">
		<BlogPost {title} {author} {heroImage} {date} {alt} {slug}>
			<slot />
		</BlogPost>
	</div>
</Shell>

<style>
@import url("https://cdn.jsdelivr.net/npm/prism-themes@1.9.0/themes/prism-one-dark.css"); /* Using a url */

@media (min-width: 1024px) {
	body {
		background-color: #151515;
	}
}
</style>
