---
import BaseHead from '../components/BaseHead.astro';
import Intro from '../components/Intro.astro';
import Link from '../components/Link.astro';
import Footer from '../components/Footer.astro';

const links = [{
	title: 'Blogs',
	url: '/'
}, {
	title: 'Projects',
	url: '/projects'
}, {
	title: 'OSS Love',
	url: '/oss'
}, {
	title: 'Talks',
	url: '/talks'
}];

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Gokul Kathirvel';
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://gokatz.me/';

---

<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink} />

		<style>
			/* Styles go here */
		</style>
	</head>

	<body class="bg-primary-black">
		<div class="flex justify-between root mx-auto relative">
			<div class="w-2/5 h-screen py-20 pl-20 fixed flex flex-col justify-between">
				
				<div>
					<Intro />
					<div class="mt-14 font-monospace">
						<!-- <div class="flex uppercase text-xs text-white items-center my-5 group cursor-pointer">
							01 <div class="mx-3 h-0.5 bg-white w-10 group-hover:w-14 transition-all"></div> Blogs
						</div>
						<div class="flex uppercase text-xs text-primary-blue items-center my-5">
							02 <div class="mx-3 h-0.5 bg-white w-14 bg-primary-blue"></div> Projects
						</div> -->
						{links.map((nav, index) => <Link nav={nav} serial={index} />)}
					</div>
				</div>

				<Footer />
      </div>

      <div class="w-3/5 absolute right-0 p-20 content-group">
        <slot />
      </div>
    </div>
	</body>
</html>
